.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 90vh;
    position: sticky;
    position: -webkit-sticky;
    background-color: #f4f4f4;
   
}

.nav-items {
    display: flex;
    flex-direction: column;
    padding-left: 2px;
    padding-top: 3px;

}

.text-item-container {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    background-color: transparent;
    width: 90%;
    cursor: pointer;
    margin: 2px;
}

.item-text {
    font-family: 'Roboto';
    color: black;
    width: 100px;
    margin-left: 2px;

}

.side-bar-bottom-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 200px;
    margin-left: 12px;
}

.bottom-text {
    font-family: 'Roboto';
    color: #1e293b;
    width: 140px;
    font-size: 20px;
    margin-left: 5px;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 12px;
}

.icon-image{
    height: 30px;
    width: 30px;
    margin-right: 15px;
    cursor: pointer;
}

.item-text{
  font-family: 'Roboto';
  color: #1e293b;
  width: 250px;
  margin-left: 0px;
  font-size: 22px;
}